<div *ngFor="let message of currentUser.messages" class="messages__history">
    <div [ngClass]="{
        history__user: message.sender === 'user',
        history__author: message.sender === 'author'
    }">
        <div *ngIf="message.sender === 'user'">
            <app-user [imagePath]="currentUser.imagePath"></app-user>
        </div>

        <div class="message">
            <div class="message__content">
                {{message.message}}
            </div>
            <div class="message__date">{{message.date | date:'M/dd/yy, HH:mm a'}}</div>
        </div>
    </div>
</div>