<section class="conversation">
    <div class="conversation__header">
        <app-user [online]="currentUser.online" [imagePath]="currentUser.imagePath">
        </app-user>
        <span class="conversation__header_title">{{currentUser.name}} {{currentUser.surname}}</span>
    </div>

    <div #scroll class="conversation__body">
        <app-message [currentUser]="currentUser"></app-message>
    </div>

    <div class="conversation__message-input">
        <i class="fas fa-location-arrow" (click)="sendMessage(messageInput)"></i>
        <input [(ngModel)]="messageInput" type="text" placeholder="Type your message"
            (keyup.enter)="sendMessage(messageInput)" />
    </div>
</section>