@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import "./normalize";

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}
