.search-form {
    margin: 20px;
    color: #acacac;
    position: relative;
    display: flex;
    align-items: center;

    .fa-search {
        position: absolute;
        cursor: pointer;
        top: 50%;
        left: 20px;
        transform: translate(-50%, -50%);
        transition: 0.3s;

        &:hover {
            color: #666;
        }
    }

    input {
        width: 100%;
        font-size: 1.2rem;
        border: 1px solid #e8e8e8;
        border-radius: 50px;
        padding: 15px 40px;
        outline: none;
        background-color: #fafafa;
        transition: 0.2s;

        &:focus {
            background-color: #fff;
        }
    }
}
